

html {
    box-sizing: border-box
  }
 
  /* The Universal Selector */
  *, /* All elements*/
  *::before, /* All ::before pseudo-elements */
  *::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
       but can be over-ridden as needed */
    box-sizing: inherit;
  }
  
body {
    background-color: gray;
    font-family: sans-serif;
    display: grid;
    height: 100vh;
    margin: 0;
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
    "p"
    "header"
    "aside"
    "main"
    "footer";
}
p {
    margin: 0;
    background: white;
}
header {
    justify-content: center;
   align-items: center;
   background: white;
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: lightgrey;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: white;
}
footer {
    font-size: 400%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: greenyellow;
}
img {
    border-radius: 50%;
}
#name {
    font-size: 180%;
}
